html {
    font-size: 62.5%;
}
:root {
    --color--headings:#557571;
    --color--body:#d6ddd8;
    --color--primary:#a3543d;
    --color--secondary:#ce7d5d;
    --color--lightsecondary:#f7d1ba;
    --color--border:#ccc;
    --border--radius:30px;
}
*, *::after, *::before {
    box-sizing: border-box;
}

/* Typography */
body {
    font-family:'Raleway', Arial, Helvetica, sans-serif;
    color: var(--color--body);
    font-size: 2.4rem;
    line-height: 1.5;
}

h1, h2, h3 {
    color: var(--color--headings) ;
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width:768px) {
    body {
        font-size: 1.8rem;
    }
    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 2.4rem;
    }
}

/* links */
a {
    text-decoration: none;
}

.link-arrow {

    text-transform: uppercase;
    color: var(--color--headings);
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow:hover {
    color: var(--color--secondary);
}


/* badges */
.badge {
    border-radius: 20px;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}

.badge--primary {
    background:var(--color--primary);
    color: #fff;
}

.badge--secondary {
    background: var(--color--secondary);
    color: #fff;
}

.badge--accent {
    background: var(--color--lightsecondary);
    color: var(--color--primary);
}

.badge--small {
    font-size: 1.6rem;
}

@media screen and (min-width:1024px) {
    .badge {
        font-size: 1.5rem;
    }
    .badge--small {
        font-size: 1.2rem;
    }
}


/* lists */
.list {
    color: var(--color--headings);
    list-style: none;
    padding-left: 0;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;
    color:var(--color--headings);
}  

.list--tick .list__item {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width:1024px) {
    .list--tick .list__item {
    padding-left: 0;
    }
}

/* icon */
.icon {
    width: 40px;
    height: 40px;
}

.icon--primary {
    fill: var(--color--headings);
}

.icon-container {
    background: bisque;
    border-radius: 50px;
    width: 64px;
    height: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 1200px;
    
}

/* buttons */
.btn {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem 4rem;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0;
}

.btn--outline {
    border: 2px solid var(--color--headings);
    color: var(--color--headings);
    background: #fff;
}

.btn--outline:hover {
    background: var(--color--headings);
    color: #fff;
}
 
.btn--primary {
    background: var(--color--primary);
    color: #fff;
}

.btn--primary:hover {
    background: var(--color--secondary);
}

.btn--block {
   width: 100%; 
   display: inline-block;
}

@media screen and (min-width:1024px) {
    .btn {
        font-size: 1.5rem;
    }
}

/* inputs */
.input {
    border-radius: var(--border--radius);
    border: 1px solid var(--color--border);
    font-size: 2rem;
    outline: 0;
    padding: 2rem 4rem;
    color: var(--color--headings);
}

::placeholder {
    color: var(--color--border);
}

@media screen and (min-width:1024px) {
    .input {
        font-size: 1.5rem;
    }
}

.input-group {
    border: 1px solid var(--color--border);
    box-shadow: 0 0 30px 0 var(--color--border);
    border-radius: var(--border--radius);
    display: flex;
}

.input-group .btn {
    margin: 4px;
}

.input-group .input {
    border: 0;
    flex-grow: 1;
}

/* cards */
.card {
    box-shadow: 0 0 20px 10px var(--color--border);
    border-radius: 10px;
    overflow: hidden;
}

.card__header, 
.card__body {
    padding: 2rem 3rem;
}

.card--primary .card__header {
    background: var(--color--primary);
    color: #fff;
}

/* plan */
.plan__name {
    color: #fff;
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
}

.plan__price {
    font-size: 6rem;
}

.plan__description {
    font-size: 2rem;
    font-weight: 300;
}

/* media */
.media {
    display: flex;
}

.media__title {
    margin-top: 0;
}

.media__body {
    margin: 0 2rem;
}

.media__image {
    margin-top: 1rem;
}

/* quotes */
.quote {
    color: var(--color--headings);
    font-style: italic;
    font-size: 3rem;
}

.quote__text::before {
    content:open-quote;
}
.quote__text::after {
    content:close-quote;
}

.quote__author {
    font-size: 3rem;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0;
}
.quote__line {
    position: relative;
    bottom: 10px;
}

.quote__company {
    font-size: 2rem;
    font-style: normal;
    color: var(--color--border);
    opacity: .8;
    margin-top: 0;
}
