<div class="plan">
  <div class="card card--primary">
    <header class="card__header">
      <h3 class="plan__name">Beef</h3>
      <span class="plan__price">$66</span>
      <span class="badge badge--secondary badge--small"> know more</span>
      <span class="plan__description"
        >Beef and Tomatoes, you definitely should try it!</span
      >
    </header>
    <div class="card__body">
      <ul class="list list--tick">
        <li class="list__item">items 1</li>
        <li class="list__item">items 2</li>
        <li class="list__item">items 3</li>
        <li class="list__item">items 4</li>
      </ul>
      <button class="btn btn--primary btn--block">Order Now</button>
    </div>
  </div>
</div>
